.header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    background-color: #191919;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
}

.header .left_side{
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #B6EADA;
}

.header .left_side h1{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #46C2CB;
    font-size: 50px;
    margin: 20px;
}

.header .left_side img {
    width: 70px;
    padding-left: 20px;
}

.header .right_side{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

.header a {
    color: white;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin: 20px;
    transition: font-size 0.1s ease-in-out;
    font-size: 20px;


}

.header .right_side a:hover {
    color: #46C2CB;
    font-size: 23px;
    transition: font-size 0.1s ease-in-out;
}
